---
siteTitle: LiverHub
menuLinks:
    - link: /work
      name: Work
    - link: /education
      name: Education
    - link: /projects
      name: Projects
    - link: /awards
      name: Awards
    - link: /blog
      name: Blog
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/site.css" />
    <link rel="stylesheet" href="/static/css/icons.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <% if(typeof stylesheets !== 'undefined') { 
      stylesheets.forEach(sheet => { %>
        <link rel="stylesheet" href="<%= sheet %>" />
     <% })
    } %>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
</head>
<body>
    <%- include('layouts/header.ejs', {siteTitle: siteTitle, menuLinks: menuLinks}) %>
    <main>
        <%- content %>
    </main>
    <%- include('layouts/footer.ejs') %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>