---
layout: main.ejs
title: LiverHub - Home Page
description: LiverHub Home Page. Oliver Xie's portfolio site. Learn more about Oliver and contact him too!
name: Oliver Xie
role: Software Developer
location: Vancouver, Canada
aboutMe:
    - I'm currently a fourth-year Computing Science student at SFU and an aspiring software developer. My passion is delivering results for my community and I am always interested in learning something new so I can solve the problems of tomorrow. In particular, I enjoy software engineering and distributed systems.
    - My bias for action and hunger for knowledge were key to my internship at Amazon Web Services where I implemented customer-facing metrics for a future Amazon EventBridge sub-service. They were also critical to a major security upgrade for all Change Healthcare radiology PACS worldwide I led.
    - As I believe in expanding my horizons, I enjoy a diverse range of hobbies including volunteering, baking, cooking, hiking, skiing, public speaking, playing the piano, video games.
contacts:
    - icon: github
      flavor: GitHub Profile
      username: liversticks
      link: https://www.github.com/liversticks
    - icon: linkedin
      flavor: LinkedIn Profile
      link: https://www.linkedin.com/in/the-oliver-xie
    - icon: envelope
      flavor: My Email
      link: mailto:oxie@sfu.ca
stylesheets:
    - /static/css/title.css
---
<div class="stack">
    <section class="center">
        <img id="headshot" class="center" src="/static/images/headshot.jpg" alt="Oliver Xie headshot 2022" width="200px" height="200px">
        <h1 id="name"><%= name %></h1>
        <h2 id="title"><%= role %></h2>
        <span id="location"><%= location %></span>
    </section>
    <section class="center">
        <h3>About Me</h3>
        <div class="text-container">
            <% aboutMe.forEach(paragraph => { %>
                <p><%= paragraph %></p>
            <% }) %>
        </div>
        
    </section>
    <section class="center" id="contact">
        <h3>Contact Me</h3>
        <ul class="contact-list">
            <% contacts.map(contact => { %>
                <li>
                <%- include('_includes/layouts/contact-method.ejs', {
                    contactLink: contact.link,
                    contactIcon: contact.icon,
                    contactUsername: contact.username,
                    contactFlavor: contact.flavor
                }) %>
                </li>
            <% }) %>
        </ul>
    </section>
</div>