---
layout: main.ejs
title: My Work Experience
description: Where Oliver Xie has worked
cards:
    - src: /static/images/aws-transparent.png
      imgLink: https://aws.amazon.com/
      alt: Amazon Web Services logo
      title: Software Development Engineer (Intern)
      subtitle: Amazon Web Services
      dates: May 2022 - August 2022
      bullets:
        - 'Defined 10+ customer-facing metrics: names, dimensions, units, resolutions, and measurements published to CloudWatch Metrics for <a href="https://aws.amazon.com/eventbridge/pipes/" target="_blank">Amazon EventBridge Pipes</a> which will support 250K+ TPS at launch.'
        - Adapted internal monitoring agent to run in a sidecar container pattern for ECS/Fargate service with minimal additional latency on the service critical path.
        - Created a deployment pipeline for AWS accounts and IAM roles scoped for metrics upload, limiting blast radius and automatically creating resources for all stage (gamma, prod), region, and cell (sub-regional) units.
        - Continuously deployed code and infrastructure using AWS Cloud Development Kit (CDK) and AWS CloudFormation.
        - Wrote unit tests using JUnit and Mockito and improved package code coverage to 90% by testing empty input cases.
        - Fixed bugs in Postman collections, IntelliJ run configurations, and an internal multi-container testing tool (similar to Docker Compose), reducing development toil.
        - Wrote and iterated a design document for the vended metrics project and led the requirements gathering process with the team, product manager, and other customer-facing staff.
    - src: /static/images/ch-logo-94px.svg
      imgLink: https://www.changehealthcare.com/
      alt: Change Healthcare corporate logo
      title: Software Development Engineer (Co-op)
      subtitle: Change Healthcare
      dates: September 2020 - April 2021
      bullets:
        - Led ASP.NET Core (C#) identity server security upgrade for all Change Healthcare Radiology Solutions instances globally, eliminating 5 major CVEs.
        - Refactored code to use SOLID principles while maintaining existing configuration, logging output, and Couchbase database access.
        - Secured an image/DICOM file-upload API endpoint in the C# PACS backend.
        - Ported 30+ hotfixes over a 2-week sprint to support a national healthcare agency product upgrade.
        - Refactored Visual C++ backend modules using static analysis, eliminated over 50 resource leaks, and improved test coverage.
        - Finished second place in company-wide Pacman hackathon and contributed to the pathfinding AI for ghosts and Pacman.
resumePath: /static/oxie_resume.pdf
languages:
    - name: Java
      icon: icon-java
    - name: C#
      icon: icon-csharp
      subitems:
        - text: .NET
        - text: ASP.NET Core
    - name: JavaScript
      icon: icon-javascript
      subitems:
        - text: TypeScript
          icon: icon-typescript
        - text: Node.js
          icon: icon-node-js
        - text: React
          icon: icon-react
        - text: jQuery
          icon: icon-jquery
    - name: Python
      icon: icon-python
      subitems:
        - text: Django
        - text: NumPy
        - text: Pandas
    - name: SQL
      icon: icon-database
      subitems:
        - text: PostgreSQL
          icon: icon-postgres
        - text: MS SQL Server
        - text: SQLite
    - name: HTML
      icon: icon-html5
    - name: CSS
      icon: icon-css3
    - name: Golang
      icon: icon-go
    - name: C
      icon: icon-c
    - name: C++
      icon: icon-cplusplus
tools:
    - name: NoSQL Databases
      icon: icon-database
      subitems:
        - text: DynamoDB
        - text: Cosmos DB
        - text: Couchbase
    - name: Docker
      icon: icon-docker
    - name: AWS
      icon: icon-aws
      subitems:
        - text: Elastic Container Service (ECS)
        - text: Fargate
        - text: Lambda
        - text: CloudFormation
        - text: Cloud Development Kit (CDK)
        - text: CloudWatch Metrics
    - name: Microsoft Azure
      icon: icon-azure
      subitems:
        - text: Functions
        - text: Static App Service
    - name: Nginx
      icon: icon-nginx
    - name: Git
      icon: icon-git
    - name: Apache Spark
      icon: icon-spark
    - name: Windows
      icon: icon-windows
    - name: Linux
      icon: icon-linux
      subitems:
        - text: Ubuntu
          icon: icon-ubuntu
    
---
<article class='stack'>
    <h1 class='heading'><%= title %></h1>
    <div class="stack">
        <% cards.forEach(card => { %>
            <%- include('_includes/layouts/card.ejs', { 
                padImages: true,
                cardImageSrc: card.src,
                cardImageAlt: card.alt,
                cardImageLink: card.imgLink,
                cardLinks: null,
                cardTitle: card.title,
                cardSubtitle: card.subtitle,
                cardDates: card.dates,
                cardBullets: card.bullets }) %>
        <% }) %>
    </div>
    <section class='stack'>
        <h2 class='heading'>Professional Skills</h2>
        <section id='skills' class='flex-wrap'>
            <div class="text-container">
                <h3>Languages</h3>
                <ul class="no-bullets">
                <% languages.forEach(lang => { %>
                    <%- include('_includes/layouts/skill.ejs', {
                        name: lang.name,
                        icon: lang.icon,
                        subitems: lang.subitems
                    }) %>
                <% }) %>
                </ul>
            </div>
            <div class="text-container">
                <h3>Tools/Platforms</h3>
                <ul class="no-bullets">
                    <% tools.forEach(tool => { %>
                        <%- include('_includes/layouts/skill.ejs', {
                            name: tool.name,
                            icon: tool.icon,
                            subitems: tool.subitems
                        }) %>
                    <% }) %>
                </ul>
            </div>
        </section>
    </section>
    <section id="resume">
        <h2 class='heading'>My Résumé (as of <%= new Date().toLocaleDateString('en-us', {
            year: 'numeric',
            month: 'long',
            day: 'numeric'
        }) %>)</h2>
        <object class="pdf-viewer" data="<%= resumePath %>" type="application/pdf">
            <embed class="pdf-viewer" src="<%= resumePath %>" type="application/pdf">
                <p><a href="<%= resumePath %>">Download my résumé as PDF</a></p>
            </embed>
        </object>
    </section>
</article>