<section class="center card sidebar">
    <% if (cardImageSrc && cardImageAlt) { %>
        <div>
        <% if (cardImageLink) { %>
            <a href="<%= cardImageLink %>" rel="noreferrer" target="_blank">
        <% } %>
        <img src="<%- cardImageSrc %>" alt="<%= cardImageAlt %>" class='card-image'>
        <% if (cardImageLink) { %>
            </a>
        <% } %>
        </div>
    <% } else if (padImages) { %>
        <div class='card-image'></div>
    <% } %>
    <div class="stack card-text">
        <h1 class='card-heading'><%= cardTitle %></h1>
        <% if (cardSubtitle) { %>
            <h2 class='card-heading'><%= cardSubtitle %></h2>
        <% } %>
        <% if (cardDates) { %>
            <h3 class='card-heading'><%= cardDates %></h3>
        <% } %>
        <% if (cardLinks) { %>
            <ul class='left-align external-links'>
            <% cardLinks.forEach(link => { %>
                <li>
                    <a href="<%= link.target %>" rel="noreferrer" target="_blank">
                        <h4>
                            <% if (link.icon) { %>
                                <i class="icon-<%= link.icon %>"></i>
                            <% } %>
                        <%= link.description %>
                        </h4>
                    </a>
                </li>
            <% }) %>
            </ul>
        <% } %>
        <ul class='text-container'>
            <% cardBullets.forEach(item => { %>
                <li><%- item %></li>
            <% }) %>
        </ul>
    </div>
</section>