<section class="bullet-card">
    <img src="<%- cardImageSrc %>" alt="<%= cardImageAlt %>">
    <h1><%= cardTitle %></h1>
    <% if (cardSubtitle) { %>
        <h2><%= cardSubtitle %></h2>
    <% } %>
    <% if (cardDates) { %>
        <h3><%= cardDates %></h3>
    <% } %>
    <ul>
        <% cardBullets.forEach(item => { %>
            <li><%- item %></li>
        <% }) %>
    </ul>
</section>