<section class="center card sidebar">
    <% if (cardImageSrc && cardImageAlt) { %>
        <div>
        <% if (cardImageLink) { %>
            <a href="<%= cardImageLink %>" rel="noreferrer" target="_blank">
        <% } %>
        <img src="<%- cardImageSrc %>" alt="<%= cardImageAlt %>" class='card-image'>
        <% if (cardImageLink) { %>
            </a>
        <% } %>
        </div>
    <% } else if (padImages) { %>
        <div class='card-image'></div>
    <% } %>
    <div class="stack card-text">
        <h1 class='card-heading'><%= cardTitle %></h1>
        <% if (cardSubtitle) { %>
            <h2 class='card-heading'><%= cardSubtitle %></h2>
        <% } %>
        <% if (cardDates) { %>
            <h3 class='card-heading'><%= cardDates %></h3>
        <% } %>
        <% if (cardLinks) { %>
            <div class='stack left-align'>
            <% cardLinks.forEach(link => { %>
                <a href="<%= link.target %>" rel="noreferrer" target="_blank">
                    <h4>
                        <% if (link.icon) { %>
                            <img src="/static/images/fa-icons/<%= link.icon %>.svg" alt="<%= link.icon %> logo" class="logo">
                        <% } %>
                    <%= link.description %>
                    </h4>
                </a>
            <% }) %>
            </div>
        <% } %>
        <ul class='text-container'>
            <% cardBullets.forEach(item => { %>
                <li><%- item %></li>
            <% }) %>
        </ul>
    </div>
</section>